:root {
  --main-text-color: navy;
  --second-text-color: white;
  --bgr-color: #ebf2f7;
  --header-font: "Lobster", cursive;
  --content-font: 'Baloo 2', cursive;
  --shadow: 1px 1px 1px white,
    1px 2px 1px white,
    1px 3px 1px white,
    1px 4px 1px white,
    1px 5px 1px white,
    1px 6px 1px white,
    1px 7px 1px white,
    1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2),
    1px 25px 35px rgba(16, 16, 16, 0.2);
  --shadow-2: 0 1px 1px black,
    0 2px 0 #999,
    0 3px 0 #888,
    0 4px 0 #777,
    0 9px 10px navy;
  --shadow-3: 0 1px 1px black,
    0 2px 0 #999,
    0 9px 10px black;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}